

<!-- About
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row about-image-text">
  <div class="five columns">
  		<img src="../Images/About/profil.jpg"/>
  </div>


  <div class="offset-by-one four columns">
  	<div class="about-wrapper">
	    <h3>Hi, I'm Ella</h3>
	    <p>A quick-witted visual designer and project manager from Gothenburg, with a passion for conceptual ideas. I’m currently studying my last year of the bachelor’s degree program GDK (Graphic Design &amp; Communication) at Linköpings University in Norrköping, Sweden. <br><br>
		In all my work, digital as well as print, I’m striving for clarity and simplicity but with impact. I believe that good design is functional, simple and based on clever ideas and solutions. I am a versatile creator and team player that loves to learn new things and find new experiences.<br><br>
		Do you want to get to know me better? I would love to hear from you and we’ll have a fika! </a>.</p>
	</div>
  </div>
</div>


<div class="row icon-wrapper">

	<div class="one column">
		<img src="../Images/About/1_resa.png"/>
		<p>Travel</p>
	</div>
	<div class="offset-by-one one column">
		<img src="../Images/About/2_sjunga.png"/>
		<p>Singing</p>
	</div>
	<div class="offset-by-one one column">
		<img src="../Images/About/3_mode.png"/>
		<p>Fashion</p>
	</div>
	<div class="offset-by-one one column">
		<img src="../Images/About/4_kaffe.png"/>
		<p>Coffee</p>
	</div>
	<div class="offset-by-one one column">
		<img src="../Images/About/5_snacka.png"/>
		<p>Socializing</p>
	</div>
	<div class="offset-by-one one column">
		<img src="../Images/About/6_ide.png"/>
		<p>Great ideas</p>
	</div>
</div>