

<!-- Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
  <div class="ten columns">
    <img class="contact-img" src="../Images/Contact/contact.png"/>
  </div>
</div>

<div class="row">
	<div class="one-half column">
		<div class="contactinfo-wrapper">
			<p>+46 762 498 120<br>
			ellainsulander@gmail.com</p>
		</div>
	</div>
	<div class="four columns">
		<div class=" socialmedia-wrapper">
			<a href="https://uk.linkedin.com/in/ella-insulander-217290106"><img class="socialmedia-img" src="../Images/Contact/linkedin.png"/></a>
			<a href="https://se.pinterest.com/ellainsulander/"><img class="socialmedia-img" src="../Images/Contact/pinterest.png"/></a>
		</div>
	</div>
</div>
