

<!-- Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
  <div class="eight columns">
    <img src="../Images/Contact/contact.png"/>
  </div>
</div>

<div class="row">
	<div class="one-half column">
		<div class="contactinfo-wrapper"
			<p>+46 762 498 120</p>
			<p>ellainsulander@gmail.com</p>
		</div>
	</div>
	<div class="two columns">
		<div class=" socialmedia-wrapper"
			<a href=""><img class="socialmedia-img" src="../Images/Contact/square.jpg"/></a>
			<a href=""><img class="socialmedia-img" src="../Images/Contact/square.jpg"/></a>
		</div>
	</div>
</div>

