

<!-- Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
  <div class="ten columns">
    <img class="contact-img" src="../Images/Contact/contact.png"/>
  </div>
</div>

<div class="row">
	<div class="one-half column">
		<div class="contactinfo-wrapper">
			<p>+46 762 498 120<br>
			ellainsulander@gmail.com</p>
		</div>
	</div>
	<div class="four columns">
		<div class=" socialmedia-wrapper"
			<a href=""><img class="socialmedia-img" src="../Images/Contact/square.jpg"/></a>
			<a href=""><img class="socialmedia-img" src="../Images/Contact/square.jpg"/></a>
		</div>
	</div>
</div>

