

<!-- Work
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="work-images">
	<div class="row">
		<div class="one-third column">
			<div class="pic">
				<a href="#/work/kaleidoscope">
					<img class="pic-image" src="../Images/Work/1_Kaleidoscope/kaleidoscope_miniatyr.jpg"/>
					<div class="pic-caption bottom-to-top">
						<h3>Kaleidoscope</h3>
						<h4>Graphic Design / Magazine</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="one-third column">
			<div class="pic">
				<a href="#/work/trappan">
					<img class="pic-image" src="../Images/Work/2_Trappan/trappan_miniatyr.jpg"/>
					<div class="pic-caption bottom-to-top">
						<h3>Trappan</h3>
						<h4>Graphic Design / Marketing</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="one-third column">
			<div class="pic">
				<a href="#/work/illustration">
					<img class="pic-image" src="../Images/Work/3_Illustrations/illustration_miniatyr.jpg"/>
					<div class="pic-caption bottom-to-top">
						<h3>Illustration</h3>
						<h4>Digital Illustration / Drawing</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="one-third column">
			<div class="pic">
				<a href="#/work/pattern">
					<img class="pic-image" src="../Images/Work/6_Patterns/pattern_miniatyr.jpg"/>
					<div class="pic-caption bottom-to-top">
						<h3>Pattern</h3>
						<h4>Pattern Design / Illustration</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="one-third column">
			<div class="pic">
				<a href="#/work/cityguide">
					<img class="pic-image" src="../Images/Work/8_Cityguide/cityguide_miniatyr.jpg"/>
					<div class="pic-caption bottom-to-top">
						<h3>Cityguide</h3>
						<h4>Graphic Design / Layout</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="one-third column">
			<div class="pic">
				<a href="#/work/nosh">
					<img class="pic-image" src="../Images/Work/9_Nosh/nosh_miniatyr.jpg"/>
					<div class="pic-caption bottom-to-top">
						<h3>Nosh</h3>
						<h4>Brand Identity / Graphic Design</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="one-third column">
			<div class="pic">
				<a href="#/work/sorteringsguiden">
					<img class="pic-image" src="../Images/Work/10_Sorteringsguiden/sortering_miniatyr.jpg"/>
					<div class="pic-caption bottom-to-top">
						<h3>Sorteringsguiden</h3>
						<h4>Graphic Design / Layout / Illustration</h4>
					</div>
				</a>
			</div>
		</div>

		<!-- Two more images can fit inside this div -->

	</div>
</div>
