

<!-- Work
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
  <div class="one-half column">
    <h4>Work</h4>
    <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
  </div>
</div>

<div class="row work-images">
	<div class="img-wrapper one-half column">
		<div>
		    <img src="../Images/Work/1_Kaleidoscope/kaleidoscope_miniatyr.jpg">	    
			    <span class="img-text">
			        Image
			    </span>
			</img>
		</div>
	</div>
	<img src="../Images/Work/2_Trappan/trappan_miniatyr.jpg"></img>
	<img src="../Images/Work/3_Illustrations/uggla_miniatyr.jpg"></img>
	<img src="../Images/Work/6_Patterns/monster_miniatyr.jpg"></img>
	<img src="../Images/Work/8_GBG-guiden/hembygd_miniatyr.jpg"></img>
	<img src="../Images/Work/9_Nosh/nosh_miniatyr.jpg"></img>
	<img src="../Images/Work/10_Sorteringsguiden/sortering_miniatyr.jpg"></img>
</div>
