<script>
	$(document).ready(function() {
		$('.popup-gallery').magnificPopup({
			delegate: 'a',
			type: 'image',
			tLoading: 'Loading image #%curr%...',
			mainClass: 'mfp-img-mobile',
			gallery: {
				enabled: true,
				navigateByImgClick: true,
				preload: [0,1] // Will preload 0 - before current, and 1 after the current image
			},
			image: {
				tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
				// titleSrc: function(item) {
				// 	return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
				// }
			}
		});
	});
</script>
<!-- About
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
  <div class="one-half column">
  	<div class="work-header">
	    <h3>Brevvänsappen</h3>
	    <p>Together with Emilia Billinger, Evelina Hallén and Hanna Lundberg I created the application Brevvänsappen. With a focus on user experience we created a new social media for elderly people. In the project I worked as a designer with the main focus on interface design and branding.<br><br> 
	    	Skills: UX/UI, Branding</p>
	</div>
  </div>
</div>

<div class="popup-gallery">
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/7_Brevappen/brev_1.jpg" ><img src="../../Images/Work/7_Brevappen/brev_1.jpg"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/7_Brevappen/brev_2.jpg" ><img src="../../Images/Work/7_Brevappen/brev_2.jpg"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/7_Brevappen/brev_3.jpg" ><img src="../../Images/Work/7_Brevappen/brev_3.jpg"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/7_Brevappen/brev_4.jpg" ><img src="../../Images/Work/7_Brevappen/brev_4.jpg"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/7_Brevappen/brev_5.jpg" ><img src="../../Images/Work/7_Brevappen/brev_5.jpg"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/7_Brevappen/brev_62.jpg" ><img src="../../Images/Work/7_Brevappen/brev_62.jpg"></a>
		</div>
	</div>
</div>
