<script>
	$(document).ready(function() {
		$('.popup-gallery').magnificPopup({
			delegate: 'a',
			type: 'image',
			tLoading: 'Loading image #%curr%...',
			mainClass: 'mfp-img-mobile',
			gallery: {
				enabled: true,
				navigateByImgClick: true,
				preload: [0,1] // Will preload 0 - before current, and 1 after the current image
			},
			image: {
				tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
				// titleSrc: function(item) {
				// 	return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
				// }
			}
		});
	});
</script>
<!-- About
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
  <div class="one-half column">
  	<div class="work-header">
	    <h3>Cityguide</h3>
	    <p>I created an alternate cityguide of my hometown Gothenburg. The guide present selected places for people that want a genuin experience and get away from all the tourist attractions. The project included copywriting, image editing, graphic design and layout.<br><br> 
	    	Skills: Layout, Graphic Design</p>
	</div>
  </div>
 </div>
<div class="popup-gallery">
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/8_Cityguide/1_cityguide.jpg" ><img src="../../Images/Work/8_Cityguide/1_cityguide.jpg"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/8_Cityguide/2_cityguide.jpg" ><img src="../../Images/Work/8_Cityguide/2_cityguide.jpg"></a>
		</div>	
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/8_Cityguide/3_cityguide.jpg" ><img src="../../Images/Work/8_Cityguide/3_cityguide.jpg"></a>
		</div>	
		<div class="one-half column">
			<a href="../../Images/Work/8_Cityguide/4_cityguide.jpg" ><img src="../../Images/Work/8_Cityguide/4_cityguide.jpg"></a>
		</div>	
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/8_Cityguide/5_cityguide.jpg" ><img src="../../Images/Work/8_Cityguide/5_cityguide.jpg"></a>
		</div>	
		<div class="one-half column">
			<a href="../../Images/Work/8_Cityguide/6_cityguide.jpg" ><img src="../../Images/Work/8_Cityguide/6_cityguide.jpg"></a>
		</div>	
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/8_Cityguide/7_cityguide.jpg" ><img src="../../Images/Work/8_Cityguide/7_cityguide.jpg"></a>
		</div>	
		<div class="one-half column">
			<a href="../../Images/Work/8_Cityguide/8_cityguide.jpg" ><img src="../../Images/Work/8_Cityguide/8_cityguide.jpg"></a>
		</div>
	</div>	
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/8_Cityguide/9_cityguide.jpg" ><img src="../../Images/Work/8_Cityguide/9_cityguide.jpg"></a>
		</div>
	</div>
</div>
