<script>
	$(document).ready(function() {
		$('.popup-gallery').magnificPopup({
			delegate: 'a',
			type: 'image',
			tLoading: 'Loading image #%curr%...',
			mainClass: 'mfp-img-mobile',
			gallery: {
				enabled: true,
				navigateByImgClick: true,
				preload: [0,1] // Will preload 0 - before current, and 1 after the current image
			},
			image: {
				tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
				// titleSrc: function(item) {
				// 	return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
				// }
			}
		});
	});
</script>
<!-- About
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
  <div class="one-half column">
  	<div class="work-header">
	    <h3>Kaleidoscope</h3>
	    <p>Together with Sara Norrbom, Josefine Brandt, Evelina Hallén &amp; Catalina Morrillo I created the magazine Kaleidoscope. A food magazine focusing on one specific ingredient for each issue.<br><br>
	    	Skills: Layout, Graphic Design, Magazine</p>
	</div>
  </div>
</div>
<div class="popup-gallery">
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/1_kaleidoscope/1_kaleidoscope.jpg" ><img src="../../Images/Work/1_kaleidoscope/1_kaleidoscope.jpg"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/1_kaleidoscope/2_kaleidoscope.jpg" ><img src="../../Images/Work/1_kaleidoscope/2_kaleidoscope.jpg"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/1_kaleidoscope/3_kaleidoscope.jpg" ><img src="../../Images/Work/1_kaleidoscope/3_kaleidoscope.jpg"></a>
		</div>
	</div>
</div>
