<script>
	$(document).ready(function() {
		$('.popup-gallery').magnificPopup({
			delegate: 'a',
			type: 'image',
			tLoading: 'Loading image #%curr%...',
			mainClass: 'mfp-img-mobile',
			gallery: {
				enabled: true,
				navigateByImgClick: true,
				preload: [0,1] // Will preload 0 - before current, and 1 after the current image
			},
			image: {
				tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
				// titleSrc: function(item) {
				// 	return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
				// }
			}
		});
	});
</script>
<!-- About
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
  <div class="one-half column">
  	<div class="work-header">
	    <h3>Linotol</h3>
	    <p>I’m currently working as a graphic designer and marketing assistent for Backoffice. One of my clients at Backoffice is the company Linotol. For Linotol I produce everything from digital design in forms of banners, their website and social media to printed brochures, advertisements and invitations. Presented below are a selection of my work for Linotol. <br><br>
	    Skills: Graphic Design, Digital Design, Marketing</p>
	</div>
  </div>
</div>

<div class="popup-gallery">
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/16_linotol/Linotol2.png" ><img src="../../Images/Work/16_linotol/Linotol2.png"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/16_linotol/Linotol3.png" ><img src="../../Images/Work/16_linotol/Linotol3.png"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/16_linotol/Linotol4.png" ><img src="../../Images/Work/16_linotol/Linotol4.png"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/16_linotol/Linotol5.png" ><img src="../../Images/Work/16_linotol/Linotol5.png"></a>
		</div>
	</div>
</div>

<footer>
	<div>
		<a id="left-arrow" class="previous" href="#/work/ottobock"><span class="arrow-left"></span></a>
  </div>
	<div>
		<a id="right-arrow" class="next" href="#/work/kaleidoscope"><span class="arrow-right"></span></a>
  </div>
</footer>