<script>
	$(document).ready(function() {
		$('.popup-gallery').magnificPopup({
			delegate: 'a',
			type: 'image',
			tLoading: 'Loading image #%curr%...',
			mainClass: 'mfp-img-mobile',
			gallery: {
				enabled: true,
				navigateByImgClick: true,
				preload: [0,1] // Will preload 0 - before current, and 1 after the current image
			},
			image: {
				tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
				// titleSrc: function(item) {
				// 	return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
				// }
			}
		});
	});
</script>
<!-- About
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
  <div class="one-half column">
  	<div class="work-header">
	    <h3>Nosh</h3>
	    <p>I created a brand with visual identity and marketing campaigns for the fictional falafel and hummus bar Nosh.<br><br> 
	    	Skills: Graphic Design, Branding</p>
	</div>
  </div>
</div>
<div class="popup-gallery">
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/9_Nosh/1_nosh.jpg" ><img src="../../Images/Work/9_Nosh/1_nosh.jpg"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/9_Nosh/2_nosh.jpg" ><img src="../../Images/Work/9_Nosh/2_nosh.jpg"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/9_Nosh/3_nosh.jpg" ><img src="../../Images/Work/9_Nosh/3_nosh.jpg"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/9_Nosh/4_nosh.jpg" ><img src="../../Images/Work/9_Nosh/4_nosh.jpg"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/9_Nosh/5_nosh.jpg" ><img src="../../Images/Work/9_Nosh/5_nosh.jpg"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/9_Nosh/6_nosh.jpg" ><img src="../../Images/Work/9_Nosh/6_nosh.jpg"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/9_Nosh/7_nosh.jpg" ><img src="../../Images/Work/9_Nosh/7_nosh.jpg"></a>
		</div>
	</div>
</div>
