<script>
	$(document).ready(function() {
		$('.popup-gallery').magnificPopup({
			delegate: 'a',
			type: 'image',
			tLoading: 'Loading image #%curr%...',
			mainClass: 'mfp-img-mobile',
			gallery: {
				enabled: true,
				navigateByImgClick: true,
				preload: [0,1] // Will preload 0 - before current, and 1 after the current image
			},
			image: {
				tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
				// titleSrc: function(item) {
				// 	return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
				// }
			}
		});
	});
</script>
<!-- About
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
  <div class="one-half column">
  	<div class="work-header">
	    <h3>Räddningstjänsten Östergötland</h3>
	    <p>One of my clients at Backoffice is the fire departement in Östergötland. I help their marketing division with everything from news letters, brochures and signs to decals for vehicles and interactive pdfs. Presented below are a selection of my work for Räddningstjänsten Östergötland.<br><br>
	    Skills: Graphic Design, Layout </p>
	</div>
  </div>
</div>

<div class="popup-gallery">
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/13_rtog/rtog.png" ><img src="../../Images/Work/13_rtog/rtog.png"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/13_rtog/rtog2.png" ><img src="../../Images/Work/13_rtog/rtog2.png"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/13_rtog/rtog3.png" ><img src="../../Images/Work/13_rtog/rtog3.png"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/13_rtog/rtog4.png" ><img src="../../Images/Work/13_rtog/rtog4.png"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/13_rtog/rtog5.png" ><img src="../../Images/Work/13_rtog/rtog5.png"></a>
		</div>
		<div class="one-half column">
		</div>
	</div>
</div>

<footer>
	<div>
		<a id="left-arrow" class="previous" href="#/work/backoffice"><span class="arrow-left"></span></a>
  </div>
	<div>
		<a id="right-arrow" class="next" href="#/work/ifk"><span class="arrow-right"></span></a>
  </div>
</footer>