<script>
	$(document).ready(function() {
		$('.popup-gallery').magnificPopup({
			delegate: 'a',
			type: 'image',
			tLoading: 'Loading image #%curr%...',
			mainClass: 'mfp-img-mobile',
			gallery: {
				enabled: true,
				navigateByImgClick: true,
				preload: [0,1] // Will preload 0 - before current, and 1 after the current image
			},
			image: {
				tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
				// titleSrc: function(item) {
				// 	return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
				// }
			}
		});
	});
</script>
<!-- About
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
  <div class="one-half column">
  	<div class="work-header">
	    <h3>Trappan</h3>
	    <p>For two and a half years I worked as an art director/project manager for the students union Trappan. In various teams with project managers, copywriters and designers we worked with marketing campaigns for Trappan. The projects could include everything from traditional marketing print and digital to guerrilla marketing. <br><br>
	    Skills: Graphic Design, Art Direction, Project management..</p>
	</div>
  </div>
</div>
<div class="popup-gallery">
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/2_Trappan/1_trappan.jpg"><img src="../../Images/Work/2_Trappan/1_trappan.jpg"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/2_Trappan/2_trappan.jpg"><img src="../../Images/Work/2_Trappan/2_trappan.jpg"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/2_Trappan/3_trappan.jpg"><img src="../../Images/Work/2_Trappan/3_trappan.jpg"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/2_Trappan/4_trappan.jpg"><img src="../../Images/Work/2_Trappan/4_trappan.jpg"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/2_Trappan/5_trappan.jpg"><img src="../../Images/Work/2_Trappan/5_trappan.jpg"></a>
		</div>
		<div class="one-half column">
			<a href="../../Images/Work/2_Trappan/6_trappan.jpg"><img src="../../Images/Work/2_Trappan/6_trappan.jpg"></a>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<a href="../../Images/Work/2_Trappan/7_trappan.jpg"><img src="../../Images/Work/2_Trappan/7_trappan.jpg"></a>
		</div>
	</div>
</div>
